.container{
    padding-top: 100px;
}
.button {
    width: 200px;
    height: 50px;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.margin {
    margin: 10px;
}

.paginator-item {
    color:
    #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}